---
layout: default
published: true
---
<div class="row">
  <div class="leftcolumn">
	<div class="posts">
 	 {% for post in site.posts %}
 	   <div class="post">
	
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </div>
  {% endfor %}
      </div>
</div>

  <div class="rightcolumn">
<div class="stories">
  {% for story in site.stories %}
    <div class="story">

      <h1><a href="{{ site.baseurl }}{{ story.url }}">{{ story.title }}</a></h1>

      <div class="entry">
        {{ story.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ story.url }}" class="read-more">Read More</a>
    </div>
  {% endfor %}
	</div>
    </div>
    
</div> 