<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- wp:heading -->
<h2><em>Literature of and for the Ubermensch. </em></h2>
<!-- /wp:heading -->

<!-- wp:quote -->
<blockquote class="wp-block-quote"><p>Clean and simple website. </p><cite>To find, share, explore, grow.</cite></blockquote>
<!-- /wp:quote -->

<!-- wp:image {"id":149,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://selfishoverman.files.wordpress.com/2022/03/article-2490051-193bd36d00000578-21_964x954-2-edited-1.jpg" alt="" class="wp-image-149"/></figure>
<!-- /wp:image -->

<!-- wp:latest-posts {"categories":"","postsToShow":3,"displayPostContent":true,"displayPostDate":true,"postLayout":"grid","className":"is-style-borders"} /-->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button /--></div>
<!-- /wp:buttons -->

    {% include analytics.html %}
  </body>
</html>
